
.main-container-home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container-home{
    background-color: darkgray;
    width: 75%;
    height: 70%;
    display: flex;


}

.main-header{
    margin-top: 50px;
}
