.main-container-login{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container-login{
    background-color: #ecf0f1;
    height: 90vh;
    width: 75%;
    display: flex;
    justify-content: center;
}

.header{
    text-align: center;
    margin-top: 10px;
}

.form-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 0;
}
.form{
    width: 80%;
    margin: auto;
}
.form-element-container{
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
}

.password-container{
    margin-bottom: 10px;
}

.button-container{
    margin-bottom: 0px;
    margin-top: 0px;
}

.form-element{
    width: 100%;
}

.signup-container{
    margin: auto;
    display: flex;
}
